$colorBackground: #FFFFFF
$colorGrey: #C3C2CF

.emails-editor
  &_form
    background: $colorBackground
    border: 1px solid $colorGrey
    border-radius: 4px
    height: 80px
    overflow-y: auto
    padding: 8px 7px
    cursor: text
    overflow-wrap: break-word
  &_input
    width: 2px
    border: none
    font-size: 14px
    margin-right: 0
    &:focus
      outline: none!important
    &::-ms-clear
      display: none
  &_placeholder
    color: $colorGrey
    font-size: 14px
    line-height: 24px
    display: inline-block
  &_closebtn
    margin-left: 7px
    color: black
    font-weight: bold
    float: right
    font-size: 16px
    line-height: 20px
    cursor: pointer
    transition: 0.3s
    &:hover
      color: $colorGrey
  &_email
    font-size: 14px
    margin-right: 8px
    margin-bottom: 4px
    display: inline-block
    cursor: default
    &__valid
      background: rgba(102, 153, 255, 0.2)
      border-radius: 100px
      padding: 2px 9px
    &__invalid
      border-bottom: 1px dashed #D92929
      padding: 1px 0
  &_fake-span
    opacity: 0
    font-size: 14px
    position: absolute
    border: red
